.logincard{
    max-width: 400px;
    margin:auto;
}
.example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
  }
  .mat-form-field{
    width: 100%;
  }