.example-card {
  max-width: 400px;
  align-content: center;

}


.center{
  width: 75%;
  margin: 17.5px auto;
}
.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

p {
  font-size: 14px;
}