
<mat-toolbar color = "warn" >
<mat-toolbar-row>
    <span>Username : {{profilesbyid.member.username}}</span>
    <a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
    <span>Login By : {{profilesbyid.member.memberOf}}</span>
</mat-toolbar-row>
<mat-toolbar-row>
    <span>Email : {{profilesbyid.member.email}}</span>
</mat-toolbar-row>
<mat-toolbar-row>
    <span>FirstName : {{profilesbyid.firstname}}</span>
</mat-toolbar-row>
<mat-toolbar-row>
    <span>LastName : {{profilesbyid.lastname}}</span>
</mat-toolbar-row>
<mat-toolbar-row>
    <span>Age : {{profilesbyid.age}}</span>
</mat-toolbar-row>
<mat-toolbar-row>
    <span>Address : {{profilesbyid.address.provincename}}</span>
</mat-toolbar-row>
<mat-toolbar-row>
    <span>Creditnumber : {{profilesbyid.creditcard.number}}</span>
    <a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
    <span>Bank : {{profilesbyid.creditcard.bank}}</span>
</mat-toolbar-row>
</mat-toolbar>