<div class="image">
<mat-toolbar color="primary">
  <span>
  <a button mat-raised-button color="warn" routerLink="/home">HOME</a>
  <a button mat-raised-button color="warn" routerLink="/menu">{{title}}</a>
  <a button mat-raised-button color="warn" routerLink="/resta">Restaurant</a>
  <a button mat-raised-button color="warn" routerLink="">Discount</a>
  
  
</span>

  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>
 
  <span><a button mat-fab color="warn" routerLink="/add-menu">ADD</a></span>
  <span><a button mat-fab color="warn" routerLink="/login" (click)="login(1)" >Logout</a></span>
</mat-toolbar>

<router-outlet>
  
</router-outlet>

</div>
