
.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}
.image{
  height:60em;

  width:auto;
  background-image:url('bg.jpg');

  background-repeat: repeat;
}
p {
  font-size: 14px;
}

