<div align=center>
    <div align=center class="registerform">
        <h1 mat-dialog-title>GOOGLE</h1>
      <div mat-dialog-content>
          <mat-form-field>
              <input placeholder="Email" matInput [(ngModel)]="email">
            </mat-form-field>
            <br>
        <mat-form-field>
          <input placeholder="Username" matInput [(ngModel)]="username">
        </mat-form-field>
        <br>
        <mat-form-field>
          <input placeholder="Password" matInput [(ngModel)]="password">
        </mat-form-field>
      </div>
      <div mat-dialog-actions>
        <button  mat-raised-button  color="warn" (click)="save()" >Register</button>
        <a>&nbsp;&nbsp;</a>
        <button  mat-raised-button  color="warn" routerLink="/register">Back</button>
      </div>
      <br>
    </div>
  </div>