<app-toolbar></app-toolbar>
<div align=center>
    <div align=center class="createform">
      <h1 mat-dialog-title>Create Your Profile</h1>
      <mat-form-field>
      <mat-select placeholder="Username" [(ngModel)]="memberLogin.mid" name="mid">
          <mat-option [value]="memberLogin.mid">
              {{memberLogin.username}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <div mat-dialog-content>
        <mat-form-field>
          <input placeholder="Firstname" matInput [(ngModel)]="memberinfo.firstname">
        </mat-form-field>
        <br>
        <mat-form-field>
          <input placeholder="Lastname" matInput [(ngModel)]="memberinfo.lastname">
        </mat-form-field>
        <br>
        <mat-form-field>
          <input placeholder="Age" matInput [(ngModel)]="memberinfo.age">
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-select placeholder="Address" [(ngModel)]="selectAddress" name="province_id">
            <mat-option *ngFor="let add of address" [value]="add.province_id">
              {{add.provincename}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <br>
        <mat-form-field>
          <input placeholder="Creditnumber" matInput [(ngModel)]="memberinfo.number">
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-select placeholder="Bank" [(ngModel)]="selectBank" name="credit_id">
            <mat-option *ngFor="let creditcard of bank" [value]="creditcard.bank">
              {{creditcard.bank}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div mat-dialog-actions>
        <button mat-flat-button color="warn" (click)="save()">Save</button>
        <a>&nbsp;&nbsp;</a>
        <a button mat-raised-button color="warn" routerLink="/home">Back</a>
      </div>
      <br>
    </div>
  </div>