@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
.mat-toolbar.mat-primary {
  background:#006ca3;
  color: #fff;


}
body {
 margin: 0;
 font-family: Roboto, sans-serif;
}
