@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
.mat-toolbar.mat-warn {
  background:#424242;
  color: #fff;
}

body {
 margin: 0;
 font-family: Roboto, sans-serif;
}
